<!DOCTYPE html>
<html>
<head>
  <title>Quick deploy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "quick_deploy/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
